deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
deps_debug/*
objs_debug/*
objs_dis_debug/*
asmouts_debug/*
preprocs_debug/*
*.swp
*.swo
tags
types_*.taghl
*/tags
*/types_*.taghl
*.txt.ignore
C/*
C++/*
generic/*
old_gpp_stuff/C/*
old_gpp_stuff/C++/*
old_gpp_stuff/generic/*
testing/*
